.home {
  padding: 0;
  margin-top: 5rem;
}

.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.home .slide .content {
  width: 60rem;
  position: fixed
}

.home .slide .content h4 {
  font-size: 3rem;
  color: #f00;
  display: block;
}

.home .slide .content h3 {
  font-size: 5rem;
  color: #fff;
  padding: 1rem 0;
}

.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
  background: #fff;
  border-radius: 0;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, #f00 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.back-video {
  position: fixed;
  object-fit: contain;
  right: 0;
  bottom: 0;
      min-width: 100%; 
    min-height: 100%;
  z-index: -1;
  overflow: hidden;
}
