.newsletter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #111;
  width: 30%;
  height: 67%;
  z-index: 100;
  overflow: hidden;
  border: 1px solid rgb(0, 0, 0);
}

.newsletter .container {
  text-align: left;
  color: #aaa;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.container .newsletterBuzy {
  display: block;
    margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 50%;
  height: 50%;
}


.container .newsletterBuzy .path1 {
  stroke: #ff3434;
  stroke-dasharray: 1774;
  stroke-dashoffset: 1774;
  fill: #ff3434;
  fill-opacity: 1;
  animation: none;
}

.container .newsletterBuzy .path2 {
  stroke: #ffffff;
  stroke-dasharray: 1774;
  stroke-dashoffset: 1774;
  fill: #ffffff;
  fill-opacity: 1;
  animation: none;
}
.newsletter i {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

form {
  margin-top: 3rem;
}
form h1 {
  font-size: 1.5rem;
  color: rgb(248, 248, 248);
  margin-top: 1rem;
}

.newsletter h4 {
  
  font-size: 1.5rem;
  margin-top: 3rem;
}
input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 1.5rem 0;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #ff3434;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.5rem;
}

option {
  color: black;
}

.downloadBtn {
  float: right;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .newsletter {
    display: block;
    width: 90%;
    height: 500px;
  }
  .newsletter h4 {
    font-size: 1rem;
  }
  .newsletter i {
    font-size: 1.5rem;
  }
  form {
    margin-top: 1rem;
  }
  form h1 {
    font-size: 1rem;
  }
  input {
    margin: 1rem 0;
    padding: 5px;
    font-size: 1rem;
  }
  .downloadBtn {
    margin-top: 1rem;
  }
}
