.newsletter {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #111;
  width: 30%;
  height: 500px;
  z-index: 100;
  overflow: hidden;
  border: 0.5px solid red;
}

.newsletter .container {
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.newsletter i {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: white;
}
form h1 {
  color: red;
  margin: 1rem;
}

.container h4 {
  margin: 1rem;
}
input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 1rem 0;
  display: inline-block;

  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.5rem;
}

option {
  color: black;
}



@media screen and (max-width: 600px) {
  .newsletter {
    display: block;
    width: 90%;
  }
  .newsletter i {
    font-size: 1.5rem;
  }

  .container .newsletterBuzy {
    width: 50%;
    height: 50%;
  }
  form h1 {
    font-size: 1rem;
  }
  input {
    padding: 5px;
    font-size: 1rem;
  }
}
