.footer {
  position: relative;
  background-color: black;
}

.footer .box-container {
  display: flex;
}

.left {
    display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  flex: 1;
  
}

.right {
  position: relative;
  flex: 1;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}



.footer .box-container .box h4 {
  color: #fff;
}

.footer .box-container .box h4 a {
  color: rgb(255, 0, 0);
}


.footer .box-container .box .links {
  font-size: 1.5rem;
  display: block;
  color: #aaa;
  padding: 1rem 0;
}

.footer .box-container .box .links:hover {
  color: #f00;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}



.footer .box-container .box p i {
  padding-right: 0.5rem;
  color: #f00;
}

.footer .box-container .box .share {
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: #fff;
  background: #111;
  border-radius: 50%;
  margin-right: 0.5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #f00;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
}


@media screen and (max-width: 600px) {
  .footer .box-container .right{
    display: none;
  }
}