@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;

}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #f00;
}

body {
  background: #000;
}

section {
  padding: 5rem 9%;
}

      #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        left: 0;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      #wrapper {
        position: absolute;
        top: 40%;

        width: 100%;
        align-items: center;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      #percent {
        font-size: 1.5rem;
        color: white;
        margin-top: 20px;
      }
      #bar {
        width: 60%;
        margin-top: 20px;
      }
      #barconfrm {
        width: 1%;
        padding: 10px 0px;
        background-color: rgb(255, 0, 0);
      }
      .buzy .path1 {
        stroke: red;
        stroke-dasharray: 1774;
        stroke-dashoffset: 1774;
        fill: rgb(255, 0, 0);
        fill-opacity: 0;
        animation: line-anim 7s ease forwards, fill 1s ease forwards 2s;
      }

      .buzy .path2 {
        stroke-dasharray: 1774;
        stroke-dashoffset: 1774;
        fill: rgb(255, 255, 255);
        fill-opacity: 0;
        animation: line-anim 7s ease forwards, fill 1s ease forwards 2s;
      }

      @keyframes line-anim {
        to {
          stroke-dashoffset: 0;
        }
      }

      @keyframes fill {
        from {
          fill-opacity: 0;
        }
        to {
          fill-opacity: 1;
        }
      }